.anchor-pane {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #098c53, #246861);
    -fx-padding: 15px;
}

#titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 0.4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.nav-btn:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.logout-btn {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8px;
    -fx-text-fill: #ff5c5c;
    -fx-font-weight: bold;
}

.logout-btn:hover {
    -fx-background-color: #ff5c5c;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}